* {
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

body {
    background-color: #0a0a0a;
    background-image: url('source/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center -50px;
    position: relative;
    z-index: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    margin: 0 10px;
}

.navbar a:hover {
    color: #f6f3ef;
}

#navbar-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

#navbar-logo img{
    width: 30vh;
    height: auto;
    max-height: 80vh;
    margin-right: auto;
}

#logo {
    width: 90vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo img{
    padding-top: 5vh;
    width: 50vw;
    height: auto;
    
}

#about {
    background: linear-gradient(to bottom, rgba(10,10,10,0) 0%, rgba(10,10,10,0) 100%);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 2vh;
    color: white;
}

.about-content {
    background: rgba(255, 255, 255, 0.8); /* Translucent white background */
    padding: 20px; /* Add padding */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Add a subtle shadow */
}

#carousel {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 2vh;
    color: #f6f3ef;
}

#carousel button {
    background-color: #0a0a0a;
    border: none;
    color: #f6f3ef;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 1.5rem;
    margin: 4px auto;
    cursor: pointer;
    transition-duration: 0.4s;
}

#carousel-item img {
    width: 50vw;
    height: auto;
    margin: 2vh 0;
}

.carousel-image {
    width: 100%;
    height: 50vw; /* Set the height of the carousel images */
    object-fit: cover; /* Scale the images to cover the container */
    overflow: hidden; /* Hide any excess image content */
}

.carousel-image img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Scale the images to cover the container */
}

.main-button {
    background-color: #0a0a0a;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 1.5rem;
    margin: 4px auto;
    margin-bottom: 20vh;
    cursor: pointer;
    transition-duration: 0.4s;
    z-index: 900;
}